/*
    David Sosa
    CPSC 332 - Web Development
    Homework 3 - CSS
    Last Modified: October 2, 2024
*/

/* Header Styling */
header {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

header h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-right: 10px;
}

.logo {
    width: 30px;
    height: 30px;
}

/* Navigation Styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

html {
    background-color: #fffbfb;
}

/*Overall Body Styling*/
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.left {
    display: flex;
    flex-wrap: wrap;
}

.left > * {
    padding: 10px;
    margin: 10px;
    color: #575757;
    box-shadow: 12px 12px 1px #d7d3e7cf;
    background-color: #d7d3e74d;
    flex: 0 1 100%;
}

.intro-paragraph-area {
    display: flex;
    flex-wrap: wrap;
}

.skills-column {
    flex: 0 1 50%;
}

.relevant-skills {
    list-style: circle;
}

.additional-skills {
    list-style: square;
}

a {
    transition: 0.3s;
}

/*
career summary 
*/

#career-summary {
    margin: 20px;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    text-transform: uppercase;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

section {
    padding: 10px;
}

.alternate-1 {
    background-color: #d7d3e7;
}

.alternate-2 {
    background-color: #d7d3e757;
}

.my-centered-text {
    text-align: center;
}

.right {
    background-color: #d7d3e74d;
    box-shadow: 12px 12px 1px #d7d3e7cf;
    padding: 10px;
    margin: 20px;
}

.hobbies {
    list-style: upper-roman;
}

.sports {
    list-style: lower-alpha;
}
